name: Deploy Santu Hub CICD

# Ce workflow se déclenche manuellement
on:
  workflow_dispatch:

env:
  REGISTRY: ghcr.io
  IMAGE_NAME: ${{ github.repository }}

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Install sshpass
        run: sudo apt-get update && sudo apt-get install -y sshpass

      - name: Deploy to production server (SSH password)
        shell: bash
        run: |
          set -euo pipefail

          CONTAINER_NAME="${{ vars.SSH_USER }}-${{ github.event.repository.name }}"
          IMAGE_TAG="${{ env.REGISTRY }}/${{ env.IMAGE_NAME }}:latest"

          sshpass -p "${{ secrets.SSH_PASSWORD }}" ssh \
            -o StrictHostKeyChecking=no \
            -p ${{ vars.SSH_PORT }} \
            ${{ vars.SSH_USER }}@${{ vars.SSH_HOST }} << EOF

            set -e

            echo "Authentification à GitHub Container Registry..."
            echo "${{ secrets.PAT_GITHUB_TOKEN }}" | docker login ${{ env.REGISTRY }} -u ${{ github.actor }} --password-stdin

            echo "Arrêt et suppression du conteneur existant s'il existe..."
            docker stop $CONTAINER_NAME || true
            docker rm $CONTAINER_NAME || true
            docker rmi $IMAGE_TAG || true

            echo "Récupération de l'image..."
            docker pull $IMAGE_TAG

            echo "Démarrage du conteneur..."
            # docker run -d --name $CONTAINER_NAME -p ${{ vars.CONTAINER_PORT }}:${{ vars.CONTAINER_PORT }} --restart unless-stopped $IMAGE_TAG

            docker run -d --name $CONTAINER_NAME \
              -p ${{ vars.CONTAINER_PORT }}:${{ vars.CONTAINER_PORT }} \
              -e CONTAINER_PORT="${{ vars.CONTAINER_PORT }}" \
              -e SSH_HOST="${{ vars.SSH_HOST }}" \
              -e SSH_PORT="${{ vars.SSH_PORT }}" \
              -e SSH_USER="${{ vars.SSH_USER }}" \
              --restart unless-stopped \
              $IMAGE_TAG

            echo "Vérification du statut du conteneur..."
            docker ps | grep $CONTAINER_NAME
          EOF

          echo "Déploiement terminé ✅"

      - name: Deployment success
        run: echo "Déploiement terminé avec succès."
        if: success()
